# =========================
# Ignorar pasta de dados sensíveis
# =========================
data/

# =========================
# Arquivos e pastas de build
# =========================
/target/
/out/
/build/
/bin/

# =========================
# Arquivos temporários do sistema
# =========================
*.log
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
Thumbs.db

# =========================
# Arquivos de IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Arquivos de dependências locais
# =========================
/lib/

# =========================
# Arquivos de cache
# =========================
/.gradle/
/mvnw.cmd
/mvnw
